<ion-header class="osahan-nav">
  <ion-toolbar>
     <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
     </ion-buttons>
     <ion-title>FAQ</ion-title>
  </ion-toolbar>
  <ion-toolbar>
     <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content color="light">
  <ion-card class="faq-card">
     <ion-card-header>
        <ion-card-title>Where can I get access to Capital IQ?</ion-card-title>
     </ion-card-header>
     <ion-card-content>
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil helvetica, craf.
     </ion-card-content>
  </ion-card>
  <ion-card class="faq-card">
     <ion-card-header>
        <ion-card-title>How do I get access to case studies?</ion-card-title>
     </ion-card-header>
     <ion-card-content>
        Enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute Anim pariatur cliche reprehenderit, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil helvetica, craf.
     </ion-card-content>
  </ion-card>
  <ion-card class="faq-card">
     <ion-card-header>
        <ion-card-title>How much should I capitalize?</ion-card-title>
     </ion-card-header>
     <ion-card-content>
        Bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil helvetica, craf. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a 
     </ion-card-content>
  </ion-card>
</ion-content>