<ion-content class="ion-no-padding">
  <ion-grid class="ion-no-padding">
     <ion-row class="ion-padding ion-align-items-center vh-100">
        <ion-col class="ion-no-padding">
           <div class="ion-text-center">
              <img alt="img" class="not-found-img ion-padding-bottom ion-margin-bottom" src="assets/404.svg">
              <h2 class="ion-margin-top ion-margin-bottom">Sorry! Page not found.</h2>
              <p class="ion-margin-bottom">Unfortunately the page you are looking for has been moved or deleted.</p>
              <ion-button class="ion-margin-top" [routerLink]="['/myprofile']" color="primary" href="/">GO TO HOME PAGE</ion-button>
           </div>
        </ion-col>
     </ion-row>
  </ion-grid>
</ion-content>