<ion-header class="osahan-nav">
  <ion-toolbar>
     <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
     </ion-buttons>
     <ion-title>Seleccionar Sucursal</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" color="light">
  <div class="card">
     <form >
        <ion-list lines="full" class="ion-no-margin ion-no-padding">
           <ion-item>
              <ion-label position="stacked">
                 Sucursal
                 <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-select>

           </ion-select>
           </ion-item>

        </ion-list>
        <div class="ion-padding">
           <ion-button (click)="procesarEdicion()" expand="block" type="submit" class="ion-no-margin">Guardar</ion-button>
        </div>
     </form>
  </div>
</ion-content>