<ion-header class="osahan-nav">
   <ion-toolbar>
      <ion-buttons slot="start">
         <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Categorias
      </ion-title>
   </ion-toolbar>
</ion-header>
<ion-content class="ion-padding my-address-page" color="light">
   <div [routerLink]="['/listaproductos']" class="categories-item mb-2 card">
      <div class="gold-members p-3">
         <div class="media align-items-center">
            <div class="mr-3"><img alt="img" class="categories-img" src="assets/cate/1.png"></div>
            <div class="media-body">
               <p class="text-success m-0">Descuento 71%</p>
               <h5 class="mb-2 text-dark font-weight-bold">Pescado</h5>
               <p class="mb-0 small text-secondary">Albacora, Picudo, Corvina</p>
            </div>
         </div>
      </div>
   </div>
   <div [routerLink]="['/listaproductos']" class="categories-item mb-2 card">
      <div class="gold-members p-3">
         <div class="media align-items-center">
            <div class="mr-3"><img alt="img" class="categories-img" src="assets/cate/2.png"></div>
            <div class="media-body">
               <p class="text-success m-0">Descuento 25%</p>
               <h5 class="mb-2 text-dark font-weight-bold">Camarones</h5>
               <p class="mb-0 small text-secondary">Piscina, Mar, Rio</p>
            </div>
         </div>
      </div>
   </div>
</ion-content>