<ion-header class="osahan-nav">
  <ion-toolbar>
     <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
     </ion-buttons>
     <ion-title>Ejemplo form 2</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" color="light">
  <div class="rounded shadow-sm mb-2 bg-white text-center">
     <img alt="img" src="assets/payment_methods.png">
  </div>
  <div class="card">
     <form onsubmit="processForm(event)">
        <ion-list lines="full" class="ion-no-margin ion-no-padding">
           <ion-item>
              <ion-label position="stacked">
                 Tarjeta
                 <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input placeholder="Ingrese el número de tarjeta" required type="text" oninput="handleFirstNameValue(event)"></ion-input>
           </ion-item>
           <ion-item>
              <ion-label position="stacked">
                 mm/yy (Fecha)
                 <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input placeholder="Ingrese mm/yy" required type="number" oninput="handleFirstNameValue(event)"></ion-input>
           </ion-item>
           <ion-item>
              <ion-label position="stacked">
                 CVV 
                 <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input placeholder="Ingrese CVV" required type="number" oninput="handleFirstNameValue(event)"></ion-input>
           </ion-item>
           <ion-item>
              <ion-label position="stacked">Alias (opcional)</ion-label>
              <ion-input placeholder="Alias" required type="text" oninput="handleFirstNameValue(event)"></ion-input>
           </ion-item>
        </ion-list>
        <div class="ion-padding">
           <ion-button [routerLink]="['']" expand="block" type="submit" class="ion-no-margin">Guardar</ion-button>
        </div>
     </form>
  </div>
</ion-content>