<ion-header class="osahan-nav">
  <ion-toolbar>
     <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
     </ion-buttons>
     <ion-title>Clientes
     </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding my-profile-page" color="light">
  <div class="mb-2 card bg-white profile-box text-center">
     <div class="py-4 px-3 border-bottom">
        <img alt="img" class="img-fluid mt-2 rounded-circle" src="assets/user/1.jpg">
        <h5 class="font-weight-bold text-dark mb-1 mt-4">Byron Segovia</h5>
        <p class="mb-0 text-muted">byronsantiago@gmail.com</p>
     </div>
     <div class="d-flex">
        <div [routerLink]="['/myaddress']" class="col-6 border-right p-3">
           <h6 class="font-weight-bold text-dark mb-1">
              <ion-icon name="navigate-circle-outline"></ion-icon>
           </h6>
           <p class="mb-0 text-black-50 small">Dirección</p>
        </div>
        <div [routerLink]="['/editprofile']" class="col-6 p-3">
           <h6 class="font-weight-bold text-dark mb-1">
              <ion-icon name="person-circle-outline"></ion-icon>
           </h6>
           <p class="mb-0 text-black-50 small">Editar Perfil</p>
        </div>
     </div>
     <div [routerLink]="['/mywallet']" class="overflow-hidden border-top p-3 d-flex justify-content-between align-items-center">
        <small class="text-secondary font-weight-bold">
           <ion-icon name="wallet-outline"></ion-icon>
           Sucursal:
        </small>
        <small class="text-primary font-weight-bold">Principal</small>
     </div>
  </div>
  <div class="list-group">
     <a class="list-group-item list-group-item-action active">
        <ion-icon class="mr-2" name="person-outline"></ion-icon>
        Mi perfil
     </a>
     <a [routerLink]="['/myaddress']" class="list-group-item list-group-item-action">
        <ion-icon class="mr-2" name="location-outline"></ion-icon>
        Direcciones
     </a>
     <a [routerLink]="['/wishlist']" class="list-group-item list-group-item-action">
        <ion-icon class="mr-2" name="heart-outline"></ion-icon>
        Lista de deseos
     </a>
     <a [routerLink]="['/orderlist']" class="list-group-item list-group-item-action">
        <ion-icon class="mr-2" name="list-outline"></ion-icon>
        Lista Pedidos
     </a>
  </div>
</ion-content>
