<ion-content class="ion-no-padding">
  <ion-grid class="ion-no-padding">
     <ion-row class="ion-padding ion-align-items-center vh-100">
        <ion-col class="ion-no-padding">
           <div class="ion-text-center">
              <img alt="img" class="not-found-img ion-padding-bottom ion-margin-bottom" src="assets/done.svg">
              <h5 class="ion-margin-top text-success ion-margin-bottom">
                 <h1 class="text-primary mb-0">Felicitaciones!</h1>
                 <br>Su orden ha sido aceptada
              </h5>
              <p class="ion-margin-bottom">Ahora sólo debe preparar el riñón para realizar el pago del servicio</p>
              <ion-button class="ion-margin-top" color="primary" [routerLink]="['']">Regresar al Login</ion-button>
           </div>
        </ion-col>
     </ion-row>
  </ion-grid>
</ion-content>